/* DECLARA VRIAVEL NO CSS, DEFINIR NA RAIZ DOCUMENTOS */
:root{               
    --vermelho: #E50914;   
    --preta: #141414;
}

/*LIMITAR BORDA DA CAIXA*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}
/*ELEMENTOS BASE */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
/*EFEITO NA CLASS CAONTAINER HTML*/
header .container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
/* REFERE-SE A CLASS LOGO CRIADO NO HTML*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}
/*EFEITO NA TAG <NAV> TOTALMENTE DIFERENTE DO PROJETO DA AULA*/
nav{
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
/*CONTINUACAO DO EFEITO NA TAG NAV(AJUSTANDO ESPAÇAMENTO E POSIÇAO */
li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
/* INICIANDO O EFEITO DE BARRA CARREGANDO EM BAIXO DO MENU*/
li::after{
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: rgb(243, 87, 87);
    transition: width 0.4s;
}
/*COMPLEMENTO DO EFEITO BARRINHA A BAIXO DO MENU(INICIO .....  <NAV>*/
li:hover::after{
    width: 100%;
    transition: width .3s;

}
/*FORMATAÇAO DO TEXTO TAG <a> */
a{
    text-decoration: none;
    font-size:  1.5rem;

}
/*COR DO TEXTO TAG <a>*/
a:visited{
    color: white;
}

/*ELEMENTOS DA class FILME-PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url('/img/capa-house.jpg');

    height: 800px;
    background-size: cover;

/*AJUSTANDO E CONFIGURANDO OS BUTTON DA class FILME-PRINCIPAL*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;

}
/*AJUSTA DESCRICAO DO FILME*/
.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 60px;
}
/*MOFIFICANDO OS BOTOES*/
.botao{
    background-color: rgba(0,0,0, .50);
    border: none;
    color: white;

    padding: 15px 30PX;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}
.botao.hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}